<main class="container-fluid">

  <div class="jumbotron text-center mt-3 bg-white ">
   
    <h2 class="display-4">Hola de Nuevo</h2>
    
    
    <div class="row m-0 justify-content-center align-items-center ">
      <div class="col-sm-4 ">
        
        <form class="form-inline ">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text   bg-light" id="basic-addon1"><i class="fa fa-map-marker-alt"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Escribe tu Direccion" aria-label="Username" aria-describedby="basic-addon1">
            <div class="input-group-append ml-3">
              <button class="btn btn-primary rounded" type="button" id="button-addon2"><i class="fa fa-search mr-2"></i>Buscar</button>
            </div>
          </div> 
          <p>Ingresa tu ubicacion para encontrar tu tienda mas cercana</p> 
        </form>
      </div>  
    </div> 
    
  </div>


<div class="container mt-5">
  <div class="row ">
      <div class="col-3 mb-4 "*ngFor="let product of products | paginate: { itemsPerPage: 8, currentPage: p }">
        <div class="card " >
          <img [src]="product.imgUrl" routerLink="detailProduct/{{product.id}}"  class="card-img-top img" alt="...">
          
          <div class="card-body">
                  <a routerLink="detailProduct/{{product.id}}" ><h5>{{product.name  }}</h5></a> 
              
                 <h6 class="mb-4 ml-3 mt-0"><i class="fa fa-tags"></i> Precio: {{product.price |currency}}</h6>
              <div>
                  <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Añadir a carrito">
                        <a href="#" class="btn btn-outline-primary">Añadir<i class="fa fa-shopping-cart ml-1"></i></a>
                  </span> 
                  <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="compartir">
                    <a href="#"><i class="fa fa-share-alt ml-2"></i></a>
                  </span>
                  <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Añadir a favoritos">
                    <a href="#"><i class="fa fa-star ml-2"></i></a>
                  </span>
              </div> 
          </div>
      </div>
      </div>

  </div>
</div>
    
    
    
<div class="row justify-content-center align-items-center ">
  <div >
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>


</main>

